@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
}

/* Estilos para el navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
}

.navbar-logo {
    box-shadow: 4px 4px 12px rgba(214, 197, 131, 0.726);
    display: inline-block;
    border-radius: 50%;
    margin-left: 40px;
}


.navbar-logo img {
    width: 120px;
    height: auto;
}

.menu {
    display: none;
}

.icono {
    font-size: 30px;
    color: white;
    display: none;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Estilos Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .icono {
        display: block;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    .navbar-links a {
        padding: 15px;
        border-bottom: 1px solid #444;
    }

    .menu:checked ~ .navbar-links {
        display: flex;
    }
}

.boton_sesion {
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid #d6c583;
    box-shadow: 4px 4px 12px rgba(214, 197, 131, 0.726);
}

.boton_sesion:hover {
    background-color: #d6c583ad;
}


.container_under--sidebar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid #d6c583;
    margin-bottom: 15px;
    border-radius: 4px;
}

.under--sidebar {
    padding: 20px;
    border-left: 1.5px solid #d6c583;
    text-align: center;
    cursor: pointer;
    box-shadow: 4px 4px 12px rgba(214, 197, 131, 0.726);
    background-color: transparent;
    border: none;
    transition: 0.3s;
}

.under--sidebar:hover{
    background-color: #d6c583ad;
}

.a--sidebar {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
}




/*CAROUSEL*/
.carousel-small {
    max-width: 800px;
    margin: 0 auto; 
}

.carousel-small img {
    width: 100%; 
    height: auto;
}


h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    color: #d6c583;
    text-shadow: 2px 2px 4px rgb(134, 139, 55);
}


main {
    padding: 20px;
}

.tarjeta {
    border: 1px solid #d6c583;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    background-color: #1e1e1e;
    color: white;
    width: 250px;
    text-align: center;
    display: inline-block;
    transition: transform 0.3s;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.tarjeta h3 {
    margin-top: 0;
    font-size: 18px;
}

.tarjeta p {
    margin: 8px 0;
}

#loginForm, #registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*contenedor filtros cartas*/

.contenedor-filtros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 10px;
}

.boton-lista{
    background-color: #1e1e1e;
    border-radius: 4px;
    padding: 5px;
    color: white;
    border: 1px solid #d6c583;
}

.boton-lista:hover{
    background-color: #d6c583ad;
}



/*PERFIL*/
.perfil-datos {
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 4px 4px 12px rgba(214, 197, 131, 0.726);
    color: #ecf0f1;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d6c583;
}

.perfil-datos p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.perfil-datos strong {
    font-weight: bold;
    color: #d6c583;
}

.perfil-datos span {
    color: #ecf0f1;
}
